/******************************MAIN/HTML SELECTORS*************************/
body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  background-color: #BFEAF5;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 552.5%;
  color: #2B3467;
}

h2 {
  font-family: "Montserrat", sans-serif; 
  color: #2B3467;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

hr{
  border-style: dotted none none none;
  height: 0;
  border-width: 40px;
  width:200px;
  color:#4a6fa3;
  background-color: #BFEAF5;
  margin-top:50px;
  margin-bottom: 50px;
}


/*************************CLASS SELECTORS**************************/

.topct {
  background-color: #BFEAF5;
  position: relative;
  padding-top: 200px;
  padding-bottom: 150px;
  
}

.bot-cloud {
  position: absolute;
  width: 10%;
  height: auto;
  left: 25%;
  bottom: 50%;
}

.top-cloud {
  position: absolute;
  width: 10%;
  height: auto;
  right: 25%;
  top: 10%;
}
/****2**/
.middle-container{
    padding-top:150px;
    background-color: #BFEAF5;
    height: 2300px;
    width: 100%;
    position:relative;
    text-align: center;
    
    
}

.job{
  font-family: 'Montserat', sans-serif;
  font-size: 2.5rem;
}

.profile{
    width: 40%;
    margin:0 auto 0 auto;
    padding-top:50px;
    height:fit-content;
    background-color: #82AAE3;
    color: #2B3467;
    
}

.bio{
  height:fit-content;
  padding-left:50px;
  padding-right:50px;
  text-align: center;
  line-height: 1.5;
  padding-bottom: 50px;
}

.skills{
    width: 80%;
    margin:0 auto 0 auto;
    background-color: #82AAE3;
    height: fit-content;
    padding-bottom:50px;
    padding-top:30px;
    
}

.skill-row{
    background-color: #82AAE3;
    color: #2B3467;
    width:500px;
    height: fit-content;
    margin: 0 auto 0 auto;
    padding-top:50px;
    padding-bottom: 50px;
}

.contact-me{
    width: 40%;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: 0 auto 0 auto;
    color:#4a6fa3;
}
.contact-me h2{
  color:#4a6fa3;
  font-size: 3.5em;
  
}
.bottom-container{
    position: absolute;
    margin: 0 auto 0 auto;
    width:100%;
    height:fit-content;
    background-color: #82AAE3;
    
}
.footerlink{
    display:inline-block;
    padding: 20px;
}

.footerlink:hover{
    transform: scale(1.2);
}

.mhr{ 
  border-style: solid dashed none none;
  height: 0;
  border-width: 20px;
  width: 98.5%;
  margin-top:50px;
  margin-bottom: 50px;
}

.contacthr{
  border-style: double none none;
  width:50%;
}

.btn{
  background-color: orangered;
  border-style: outset;
  font-family: "Montserrat", sans-serif;
  font-size: large;
  width: 30%;
  height: 55%;
}
.btn:hover{
  background-color: orange;
}

.hello{
  font-size: 3rem;
  color: #2B3467
}
/***************************ID SELECTORS*****************************/


#pro {
  text-decoration: underline;
}
#pfp{
    height: 300px;
    width: 260px;
    border-radius: 100%;
    position: relative;
    text-align: center;
    
}
#mountain{
  width:50%;
  height:40%;
}
